:root {
    // переменная ширины ограничивающего контейнера
    --container-max-width: 1220px;
    // переменные для кнопки: 
    --btn-max-width: 180px; 
    --btn-max-height: 45px; 
    // здесь будут переменные цветовой палитры:
}