[class*="__container"] { 
width: 100%;
max-width: var(--container-max-width);
height: auto;
margin: 0 auto;
padding: 0 16px; 
@include tablet-b {
    max-width: 960px;
}
@include tablet {
    max-width: none;
    
   
}

}
// стили для .wrapper: 
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.wrapper>main {
    flex-grow: 1;
}
// ---------------
// подключаем шрифт файлом: 
@font-face {
    font-family: "my-font-name";
// путь к папке fonts -- ../fonts/my-font-name.woff2
    src: url("") format("woff2"); 
}
body,html {
    height: auto;
    min-height: 100%;
    text-align: left;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
// утилитарные классы для миксинов:
.btn {
    @include btn; 
}
// задник через html first::
[class*="__cover"] {
    position: absolute; // чтоб изображение было фоном
    width: 100%;
    height: 100%;
    z-index: 1; // изображение на заднем плане, для контентной части z-index: 2 нужен;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; // изображение полностью покроет блок
        object-position: top; // изображение встанет по центру
    } 

}