@mixin  btn{
    display: inline-flex;
    max-width: var(--btn-max-width);
    max-height: var(--btn-max-height);
    padding: 12px 16px 12px 16px; 
    transition: all 0.4ms ease;
    text-wrap: nowrap;
    
}